Purpose: Clean and standardize raw building data for 3 selected buildings

Output: Clean per-building CSVs in /data/processed/

### Create separate CSV files for each building

In [3]:
import pandas as pd

In [25]:
import os

os.getcwd()

'D:\\Uni\\Sem 4\\PBL 1\\smart-building-anomaly-detection\\notebooks'

In [51]:
#Do not include the whole path of a file like "D: Shirin/Uni/Sem 4/PBL/smart-building-anomaly-detection/
#It makes reproducing and collaborating on files harder 

SOURCE_PATH =  "../the-building-data-genome-project/data/processed/temp_open_utc_complete.csv"

RAW_PATH = "../data/raw/"

cols = [
    "timestamp",
    "PrimClass_Uma",
    "Office_Maryann",
    "Office_Mick"
]

In [68]:
#Create 3 separate CSV files for each building in /data/raw/ folder

df = pd.read_csv(SOURCE_PATH, usecols=cols)
df["timestamp"] = pd.to_datetime(df["timestamp"])

buildings = [
    "PrimClass_Uma",
    "Office_Maryann",
    "Office_Mick"
]

for bld in buildings:
    out_df = df[["timestamp", bld]].copy()
    out_df.columns = ["timestamp", "energy"]
    out_df.to_csv(RAW_PATH + f"{bld}.csv", index=False)

In [65]:
#Clarify important paths

RAW_PATH = "../data/raw/"
INTERIM_PATH = "../data/interim/"

### Building 1: PrimClass_Uma

In [123]:
#Step 2.1: Load raw data and visually inspect energy time series and data quality

df_uma = pd.read_csv(RAW_PATH + "PrimClass_Uma.csv")
df_uma.head()

                   timestamp  energy
0  2010-01-01 08:00:00+00:00     NaN
1  2010-01-01 09:00:00+00:00     NaN
2  2010-01-01 10:00:00+00:00     NaN
3  2010-01-01 11:00:00+00:00     NaN
4  2010-01-01 12:00:00+00:00     NaN

In [124]:
df_uma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40940 entries, 0 to 40939
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  40940 non-null  object
 1   energy     8760 non-null   float64
dtypes: float64(1), object(1)
memory usage: 639.8+ KB

In [125]:
df_uma.columns

Index(['timestamp', 'energy'], dtype='object')

In [129]:
#Step 2.2: Convert timestamps to datetime, sort by time, set timestamp as index
           #Since, CSV stores timestamps as strings and pandas cannot reason time without datetime

df_uma["timestamp"] = pd.to_datetime(df_uma["timestamp"])

df_uma = df_uma.sort_values("timestamp")

df_uma = df_uma.set_index("timestamp")

In [131]:
isinstance(df_uma.index, pd.DatetimeIndex)

True

In [133]:
type(df_uma.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [134]:
#Step 2.3: Identify native time resolution

df_uma.index.to_series().diff().value_counts().head(10)

timestamp
0 days 01:00:00      40937
364 days 22:00:00        1
120 days 07:00:00        1
Name: count, dtype: int64

In [119]:
#Conclusion: Energy data is natively hourly 
#Large time deltas are isolated gaps corresponding to periods with no energy measurements

In [151]:
#Step 2.4: Enforce uniform time grid so data becomes mathematically usable
           #Even though data is hourly, it is not yet regularized because there are long gaps, 
           #energy is missing for large portions of the timeline

df_uma_hr = df_uma.resample("1h").sum(min_count=1)

df_uma_hr.head()

                           energy
timestamp
2010-01-01 08:00:00+00:00     NaN
2010-01-01 09:00:00+00:00     NaN
2010-01-01 10:00:00+00:00     NaN
2010-01-01 11:00:00+00:00     NaN
2010-01-01 12:00:00+00:00     NaN

In [153]:
df_uma_hr.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 52583 entries, 2010-01-01 08:00:00+00:00 to 2016-01-01 06:00:00+00:00
Freq: h
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   energy  8760 non-null   float64
dtypes: float64(1)
memory usage: 821.6 KB

In [155]:
#Prove that the grid is regular

df_uma_hr.index.to_series().diff().value_counts().head()

timestamp
0 days 01:00:00    52582
Name: count, dtype: int64

In [157]:
df_uma_hr.isna().sum()

energy    43823
dtype: int64

In [159]:
#Step 2.5: Handle missing data

df_uma_hr["energy"].notna().sum()

8760

In [161]:
df_uma_valid = df_uma_hr.loc[df_uma_hr["energy"].notna()]

In [163]:
df_uma_valid.isna().sum()

energy    0
dtype: int64

In [165]:
#We found out that there are no more NaN values, so we do not need interpolation

In [167]:
df_uma_valid.index.to_series().diff().value_counts().head()

timestamp
0 days 01:00:00    8759
Name: count, dtype: int64

In [169]:
df_uma_valid["energy"].describe()

count    8760.000000
mean       12.375314
std         9.010199
min         1.000000
25%         6.000000
50%         8.000000
75%        15.000000
max        39.000000
Name: energy, dtype: float64

In [171]:
#Write to /data/interim/ a clean, hourly, trustworthy energy data for PrimClass_Uma

df_uma_valid.to_csv("../data/interim/PrimClass_Uma_interim.csv")

In [179]:
df_uma_valid.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8760 entries, 2012-02-01 16:00:00+00:00 to 2013-01-31 15:00:00+00:00
Freq: h
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   energy  8760 non-null   float64
dtypes: float64(1)
memory usage: 136.9 KB